# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
images/adaptive_params_testing/t_0_b_31_c_35.jpg
images/adaptive_params_testing/t_0_b_51_c_45.jpg
images/adaptive_params_testing/t_0_b_41_c_35.jpg
images/adaptive_params_testing/t_0_b_41_c_45.jpg
images/adaptive_params_testing/t_0_b_51_c_35.jpg
images/dataset/viva1_up.jpg
images/dataset/viva2_up.jpg
images/e_viva/DIL_3_1_TWO_iters_b_51_c_35_RM_S_L_UP_DOWN.jpg
images/e_viva/DIL_3_1_b_51_c_35_RM_S_L_UP_DOWN.jpg
images/e_viva/DIL_5_2_b_51_c_35_RM_S_L_UP_DOWN.jpg
images/e_viva/b_51_c_35_RM_S_L_SIDE_dist_18.jpg
images/e_viva/b_51_c_35_RM_S_L_SIDE_dist_27.jpg
images/e_viva/b_51_c_35_RM_S_L_SIDE_dist_9.jpg
images/dataset/viva1_up.jpg
images/dataset/viva_gray.jpg
images/dataset/sviraj_up.jpg
images/e_viva/51_15/DIL_1_3_b_51_c_15_RM_S_L_UP_DOWN.jpg
images/e_viva/51_15/DIL_3_1_TWO_iters_b_51_c_15_RM_S_L_UP_DOWN.jpg
images/e_viva/51_15/DIL_5_2_b_51_c_15_RM_S_L_UP_DOWN.jpg
images/e_viva/51_15/b_51_c_15_LINES.jpg
images/e_viva/51_15/b_51_c_15_RM_S_L.jpg
images/e_viva/51_15/b_51_c_15_RM_S_L_UP_DOWN.jpg
images/e_viva/51_35/DIL_3_1_TWO_iters_b_51_c_35_RM_S_L_UP_DOWN.jpg
images/e_viva/51_35/DIL_3_1_TWO_iters_b_51_c_35_RM_S_L_UP_DOWN_OLD.jpg
images/e_viva/51_35/DIL_3_1_b_51_c_35_RM_S_L_UP_DOWN.jpg
images/e_viva/51_35/DIL_3_1_b_51_c_35_RM_S_L_UP_DOWN_OLD.jpg
images/e_viva/51_35/DIL_5_2_b_51_c_35_RM_S_L_UP_DOWN.jpg
images/e_viva/51_35/DIL_5_2_b_51_c_35_RM_S_L_UP_DOWN_OLD.jpg
images/e_viva/51_35/b_51_c_35_RM_S_L.jpg
images/e_viva/51_35/b_51_c_35_RM_S_L_SIDE_dist_18.jpg
images/e_viva/51_35/b_51_c_35_RM_S_L_SIDE_dist_27.jpg
images/e_viva/51_35/b_51_c_35_RM_S_L_SIDE_dist_37.jpg
images/e_viva/51_35/b_51_c_35_RM_S_L_SIDE_dist_9.jpg
images/e_viva/51_35/b_51_c_35_RM_S_L_UP_DOWN.jpg
images/e_viva/51_35/b_51_c_35_RM_S_L_UP_DOWN_OLD.jpg
images/e_viva/51_35_prepared/DIL_3_1_TWO_iters_b_51_c_35_RM_S_L_UP_DOWN.jpg
images/e_viva/51_35_prepared/DIL_5_2_b_51_c_35_RM_S_L_UP_DOWN.jpg
images/e_viva/51_35_prepared/b_51_c_35_ER_B4_DIL_k_2x7.jpg
images/e_viva/51_35_prepared/b_51_c_35_LINES.jpg
images/e_viva/51_35_prepared/b_51_c_35_RM_S_L.jpg
images/e_viva/51_35_prepared/b_51_c_35_RM_S_L_SIDE_dist_14.jpg
images/e_viva/51_35_prepared/b_51_c_35_RM_S_L_SIDE_dist_27.jpg
images/e_viva/51_35_prepared/b_51_c_35_RM_S_L_UP_DOWN.jpg
images/e_viva/51_45/DIL_3_1_TWO_iters_b_51_c_45_RM_S_L_UP_DOWN.jpg
images/e_viva/51_45/DIL_3_1_b_51_c_45_RM_S_L_UP_DOWN.jpg
images/e_viva/51_45/DIL_5_2_b_51_c_45_RM_S_L_UP_DOWN.jpg
images/e_viva/51_45/b_51_c_45_LINES.jpg
images/e_viva/51_45/b_51_c_45_RM_S_L.jpg
images/e_viva/51_45/b_51_c_45_RM_S_L_UP_DOWN.jpg
images/e_viva/51_45_prepared/DIL_3_1_TWO_iters_b_51_c_45_RM_S_L_UP_DOWN.jpg
images/e_viva/51_45_prepared/DIL_5_2_b_51_c_45_RM_S_L_UP_DOWN.jpg
images/e_viva/51_45_prepared/b_51_c_45_ER_B4_DIL_k_2x7.jpg
images/e_viva/51_45_prepared/b_51_c_45_LINES.jpg
images/e_viva/51_45_prepared/b_51_c_45_RM_S_L.jpg
images/e_viva/51_45_prepared/b_51_c_45_RM_S_L_SIDE_dist_14.jpg
images/e_viva/51_45_prepared/b_51_c_45_RM_S_L_SIDE_dist_18.jpg
images/e_viva/51_45_prepared/b_51_c_45_RM_S_L_UP_DOWN.jpg
images/e_viva/51_9/DIL_3_1_TWO_iters_b_51_c_9_RM_S_L_UP_DOWN.jpg
images/e_viva/51_9/DIL_3_1_b_51_c_9_RM_S_L_UP_DOWN.jpg
images/e_viva/51_9/DIL_5_2_b_51_c_9_RM_S_L_UP_DOWN.jpg
images/e_viva/51_9/b_51_c_9_LINES.jpg
images/e_viva/51_9/b_51_c_9_RM_S_L.jpg
images/e_viva/51_9/b_51_c_9_RM_S_L_SIDE_dist_27.jpg
images/e_viva/51_9/b_51_c_9_RM_S_L_SIDE_dist_37.jpg
images/e_viva/51_9/b_51_c_9_RM_S_L_UP_DOWN.jpg
images/kernel_2/ER_B4_DIL_b_51_c_35_kw_1_kh_11.jpg
images/kernel_2/ER_B4_DIL_b_51_c_35_kw_1_kh_15.jpg
images/kernel_2/ER_B4_DIL_b_51_c_35_kw_1_kh_7.jpg
images/kernel_2/ER_B4_DIL_b_51_c_35_kw_2_kh_11.jpg
images/kernel_2/ER_B4_DIL_b_51_c_35_kw_2_kh_15.jpg
images/kernel_2/ER_B4_DIL_b_51_c_35_kw_2_kh_7.jpg
images/kernel_2/ER_b_51_c_35_kw_1_kh_11.jpg
images/kernel_2/ER_b_51_c_35_kw_1_kh_15.jpg
images/kernel_2/ER_b_51_c_35_kw_1_kh_7.jpg
images/kernel_2/ER_b_51_c_35_kw_2_kh_11.jpg
images/kernel_2/ER_b_51_c_35_kw_2_kh_15.jpg
images/kernel_2/ER_b_51_c_35_kw_2_kh_7.jpg
images/kernel_2/GAUS/ER_B4_DIL_b_51_c_35_kw_1_kh_7.jpg
images/kernel_2/GAUS/ER_B4_DIL_b_51_c_35_kw_2_kh_7.jpg
images/kernel_2/GAUS/ER_B4_DIL_b_51_c_35_kw_3_kh_7.jpg
images/kernel_2/GAUS/ER_B4_DIL_b_51_c_35_kw_4_kh_7.jpg
images/kernel_2/GAUS/ER_B4_DIL_b_51_c_35_kw_7_kh_7.jpg
images/kernel_2/GAUS/ER_b_51_c_35_kw_1_kh_7.jpg
images/kernel_2/GAUS/ER_b_51_c_35_kw_2_kh_7.jpg
images/kernel_2/GAUS/ER_b_51_c_35_kw_3_kh_7.jpg
images/kernel_2/GAUS/ER_b_51_c_35_kw_4_kh_7.jpg
images/kernel_2/GAUS/ER_b_51_c_35_kw_7_kh_7.jpg
images/dataset/jamscik/jamscik_blitz.jpg
images/dataset/chic/b_55_c_35_RM_S_L.jpg
images/dataset/chic/b_55_c_35_RM_S_L_UP_DOWN.jpg
images/dataset/chic/chicago_white.jpg
images/dataset/chic/chicago_yellowish.jpg
images/dataset/chic/chicaho_blic.jpg
images/dataset/jamscik/b_55_c_35_RM_S_L.jpg
images/dataset/jamscik/b_55_c_35_RM_S_L_UP_DOWN.jpg
images/dataset/jamscik/jamscik_blitz_up.jpg
images/dataset/jamscik/jamscik_gray.jpg
images/dataset/sviraj/SVIRAJ_rm_s_l_lines_only_b55_c35_ada0_er_kw3.jpg
images/dataset/sviraj/sviraj_up.jpg
images/dataset/viva/VIVA_rm_s_l_lines_only_b55_c35_ada0_PHAT.jpg
images/dataset/viva/VIVA_rm_s_l_lines_only_b55_c35_ada0_er_kw3.jpg
images/dataset/viva/VIVA_rm_s_l_lines_only_b55_c35_ada0_int_thick3.jpg
images/dataset/viva/VIVA_rm_s_l_lines_only_b55_c35_ada0_regular_lines_only_img.jpg
images/dataset/viva/viva1_up.jpg
images/dataset/viva/viva2_up.jpg
images/dataset/viva/viva_gray.jpg
images/locate_lines/dil_1_50.jpg
images/locate_lines/er_2_50_dil_1_50.jpg
images/dataset/composicion/composicion_up.jpg
images/dataset/composicion/Comp_RM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/composicion/Comp_dil_1_3_RM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/composicion/RM_S_L_LINES_ONLY_b55_c35_ada0_er_kw3.jpg
images/dataset/composicion/b_55_c_35_RM_S_L.jpg
images/dataset/composicion/b_55_c_35_RM_S_L_UP_DOWN.jpg
images/dataset/composicion/composicion.jpg
images/dataset/composicion/not_eroded_1_7/b_55_c_35_RM_S_L.jpg
images/dataset/composicion/not_eroded_1_7/b_55_c_35_RM_S_L_UP_DOWN.jpg
images/dataset/erin/RM_S_L_LINES_ONLY_b55_c35_ada0_er_kw3.jpg
images/dataset/erin/b_55_c_35_RM_S_L.jpg
images/dataset/erin/b_55_c_35_RM_S_L_UP_DOWN.jpg
images/dataset/erin/erin.jpg
images/dataset/erin/erin_up.jpg
images/dataset/series/RM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/series/b_55_c_35_RM_S_L.jpg
images/dataset/series/b_55_c_35_RM_S_L_UP_DOWN.jpg
images/dataset/series/series.jpg
images/dataset/series/series_up.jpg
images/dataset/composicion/ADA_b_55_c_35_RM_S_L_SIDE_dist_29.jpg
images/dataset/composicion/ADA_b_55_c_35_RM_S_L_SIDE_dist_42.jpg
images/dataset/composicion/RM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/composicion/b_55_c_35_RM_S_L_SIDE_dist_14.jpg
images/dataset/composicion/b_55_c_35_RM_S_L_SIDE_dist_17.jpg
images/dataset/composicion/b_55_c_35_RM_S_L_SIDE_dist_25.jpg
images/dataset/composicion/b_55_c_35_RM_S_L_SIDE_dist_32.jpg
images/dataset/composicion/b_55_c_35_RM_S_L_SIDE_dist_42.jpg
images/dataset/composicion/b_55_c_35_RM_S_L_SIDE_dist_47.jpg
images/dataset/newest/LJeto.jpg
images/dataset/newest/LJeto.jpgRM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/newest/bledi.jpg
images/dataset/newest/bledi.jpgRM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/newest/bolujem.jpg
images/dataset/newest/bolujem.jpgRM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/newest/frula.jpg
images/dataset/newest/frula.jpgRM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/newest/govori.jpg
images/dataset/newest/govori.jpgRM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/newest/kanon.jpg
images/dataset/newest/kanon.jpgRM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/newest/kimegyek.jpg
images/dataset/newest/kimegyek.jpgRM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/newest/kolaric.jpg
images/dataset/newest/kolaric.jpgRM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/newest/kolo.jpg
images/dataset/newest/kolo.jpgRM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/newest/kukavica.jpg
images/dataset/newest/kukavica.jpgRM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/newest/milu.jpg
images/dataset/newest/milu.jpgRM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/newest/muzikanti.jpg
images/dataset/newest/muzikanti.jpgRM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/newest/poranila.jpg
images/dataset/newest/poranila.jpgRM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/newest/sat.jpg
images/dataset/newest/sat.jpgRM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/dataset/newest/slike.zip
images/dataset/newest/viva.jpg
images/dataset/newest/viva.jpgRM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/locate_lines/er_1_71.jpg
images/locate_lines/dil_1_71.jpg
images/locate_lines/er_1_50.jpg
images/locate_lines/dil_1_40.jpg
images/dataset/composicion/RM_S_L_LINES_ONLY_b33_c35_ada0_er_kw4.jpg
images/dataset/newest/bledi_RM_S_L_LINES_ONLY_b55_c35_ada0_er_kw4.jpg
images/locate_lines/er_2_40_dil_1_40.jpg
